#header {
  padding: 0.65% 6.5%;
}

#header img {
  width: 17%;
}

/* MEDIA QUERY STARTS */

@media (min-width: 768px) and (max-width: 992px) {
  #header img {
    width: 20%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #header img {
    width: 28%;
  }

  #header {
    padding: 1.65% 6.5%;
  }
}

@media (max-width: 576px) {
  #header img {
    width: 50%;
  }

  #header {
    padding: 1.65% 6.5%;
  }
}
